<h1>User Signup</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="<%=users_url%>" method="POST">
  <%= auth_token %>
  <label for="username">Username: 
  <input type="text" name="user[username]" id="username" value="">
  </label>

  <label for="password">Password: 
  <input type="text" name="user[password]" id="password" value="">
  </label>

  <input type="submit" value="Sign Up">

</form>